.Rproj.user
.Rhistory
.RData
.Ruserdata
.ipynb_checkpoints
*.RData
*.tar.gz
*.tar
*.zip
*.pdf
*.xlsx
*.docx
*.csv
*.dat
*.aux
*.idx
*.lof
*.log
*.lot
*.out
*.toc
*.jpeg
*.jpg
*.png
*.html
*.synctex.gz
Resultados/*
RData/*
Data/*
.Rprofile
Drivers/*
Costos_Pensionistas_SAL_19_04_2022.R
Calibracion_flujos_SAL.R
Adicionales_SAL/*
Adicionales_SSC/*